<app-card-generic [isLoading]="isLoading">
    <div card-header>
        CLIMA
    </div>
    <div card-body *ngIf="weatherSummary" class="selected_weather">
        <img [src]="weatherSummary.conditionIcon" alt="Clima" class="selected_weather-icon"/>
        <div class="selected_weather-info">
            <p>{{ weatherSummary.temperatureInC }}</p>
            <p>{{ weatherSummary.conditionText }}</p>
        </div>

    </div>
    <div card-body *ngIf="!weatherSummary">
        <p class="weather-loading">Selecciona un país para ver el clima</p>
    </div>
</app-card-generic>