<section class="weather">
    <h1 class="">
        Weather
    </h1>
    <div class="weather__main">
        <app-selected-country-card
            class="country_card"
        />
        <app-list-todo-user-card
            class="todos_card"
        />
        <app-selected-country-weather-card
            class="weather_card"
        />
        <app-selected-country-timezones-card
            class="timezones_card"
        />
        <app-selected-country-timezone-selected-time-card
            class="current_time_card"
        />
        <app-countries class="list_countries_card" />

    </div>
</section>