<app-card-generic [isLoading]="this.isLoading">
    <div card-header>
        PAÍS SELECCIONADO
    </div>
    <div card-body>
        <div *ngIf="countryInfo">
            <p>{{ countryInfo.country }}</p>
            <p>Capital: {{ countryInfo.capital }}</p>
            <p>Región: {{ countryInfo.region }}</p>
            <p>Latitud: {{ countryInfo.lat }} Longitud: {{ countryInfo.lon }}</p>
        </div>
    </div>
    <div *ngIf="!countryInfo" card-body >
        <p class="weather-loading">Selecciona un país para ver su información</p>
    </div>
</app-card-generic>
