@mixin form-generic {
  width: 100%;
  border: 1px solid #4f3765;
  border-radius: .5rem;

  &__header {
    padding: 2rem .5rem;
    background: #f6f6f6;
    border-bottom: 1px solid #efefef;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0 .5rem;
  }

  &__footer {
    padding: 1rem 0;
    background: #f6f6f6;
    border-top: 1px solid #efefef;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
}

.form-generic {
  @include form-generic;
}

.footer_container {
  display: flex;
  justify-content: center;
}

.header_container {
  &-title {
    background: inherit;
    margin: 0;
    font-weight: 500;
    padding: 0 .5rem;
  }
}

.body_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
