<div class="card">
    <div class="card-header">
        <ng-content select="[card-header]"></ng-content>
    </div>

    <div class="card-body">
        <ng-container *ngIf="!isLoading; else loadingSkeleton">
            <ng-content select="[card-body]"></ng-content>
        </ng-container>

        <ng-template #loadingSkeleton>
            <div class="skeleton-line" style="width: 80%"></div>
            <div class="skeleton-line" style="width: 60%"></div>
            <div class="skeleton-line" style="width: 90%"></div>
        </ng-template>
    </div>
</div>
